.main {
  display: flex;
  flex-direction: row-reverse;

  @include sm-display {
    flex-direction: column;
    align-items: center;
  }
  &--body {
    &-photo {
      display: none;
      @include sm-display {
        display: block;
        & img {
          border-radius: 250px;
          border: 6px solid darken($secondaryColour , 10%);
          width: auto;
          height: 25vh;
          margin-top: 30px;
        }
      }
    }
  }
}

#caretDownAbout {
  display: none;
}

#caretDownContact {
  display: none;
}

#caretDownLoisirs {
  display: none;
}


