.main {
  display: flex;
  @include sm-display {
    flex-direction: column-reverse;
    align-items: center;
  }
  &--body {
    &-photo {
      display: none;
      @include sm-display {
        display: block;
        & img {
          border-radius: 120px;
          border: 5px solid darken($secondaryColour , 10%);
          width: 150px;
          height: 150px;
          margin-top: 30px;
        }
      }
    }
  }
}

#caretDownAbout {
  display: none;
}

#caretDownContact {
  display: none;
}

#caretDownLoisirs {
  display: none;
}


