html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

html {
  font-family: "Lato", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  font-size: 0.8vw;
  color: #424242;
}
@media (max-width: 992px) {
  html {
    font-size: 3vw;
  }
}

h3 {
  font-size: 1.2vw;
}
@media (max-width: 992px) {
  h3 {
    font-size: 4vw;
  }
}

.main--sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  background-color: #FF8F00;
  position: relative;
  top: 0;
  bottom: 0;
  padding: 40px 0 0px 0;
  height: auto;
}
@media (max-width: 992px) {
  .main--sidebar {
    height: auto;
    position: relative;
    width: 100%;
  }
}
.main--sidebar a > img {
  border-radius: 120px;
  border: 5px solid #cc7200;
}

.main--body {
  width: 70%;
  margin: 0 150px 0 150px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .main--body {
    margin: 0;
    width: 100%;
    align-self: center;
  }
}
.main--body-titles {
  width: 100%;
}
@media (max-width: 992px) {
  .main--body-titles {
    text-align: center;
  }
}

.main--sidebar-about {
  width: 100%;
  display: flex;
  text-align: justify;
  justify-content: space-around;
  height: auto;
  min-height: 600px;
  align-items: start;
  margin: 1em 0 1em 0;
}
@media (max-width: 992px) {
  .main--sidebar-about {
    width: 100%;
    height: auto;
    min-height: 100px;
    align-items: center;
    margin: 15px 0 15px 0;
  }
}
.main--sidebar-about p {
  width: 60%;
}

.main--sidebar-contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}
.main--sidebar-contact-icon {
  margin-right: 20px;
}
@media (max-width: 992px) {
  .main--sidebar-contact-icon {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .main--sidebar-contact {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1em 0;
  }
}
.main--sidebar-contact div {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
@media (max-width: 992px) {
  .main--sidebar-contact div {
    text-align: center;
    flex-direction: column;
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .main--sidebar-contact-title {
    display: none;
  }
}
.main--sidebar-contact-s {
  margin: 1em 0 1em 0;
}

.main--sidebar-loisirs {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.main--body-formation {
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .main--body-formation {
    width: 100%;
    align-items: center;
  }
}
.main--body-formation-s {
  display: flex;
}
@media (max-width: 992px) {
  .main--body-formation-s {
    width: 80%;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;
  }
}
.main--body-formation-s-date {
  font-weight: bold;
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992px) {
  .main--body-formation-s-date {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main--body-formation-s-date > p {
  width: 100%;
}
.main--body-formation-s-date > i {
  margin: 0 15px 0 0;
  color: #FF8F00;
}
.main--body-formation-s-title > p {
  width: 80%;
  margin: 1em 0 1em 0;
}
@media (max-width: 992px) {
  .main--body-formation-s-title > p {
    width: 100%;
  }
}

.main--body-formation {
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .main--body-formation {
    width: 100%;
    align-items: center;
  }
}
.main--body-formation-s {
  display: flex;
}
@media (max-width: 992px) {
  .main--body-formation-s {
    width: 80%;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;
  }
}
.main--body-formation-s-date {
  font-weight: bold;
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992px) {
  .main--body-formation-s-date {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main--body-formation-s-date > p {
  width: 100%;
}
.main--body-formation-s-date > i {
  margin: 0 15px 0 0;
  color: #FF8F00;
}
.main--body-formation-s-title > p {
  width: 80%;
  margin: 1em 0 1em 0;
}
@media (max-width: 992px) {
  .main--body-formation-s-title > p {
    width: 100%;
  }
}

.main--sidebar-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  color: #FF8F00;
  height: auto;
  padding: 1em 0 1em 0;
}
@media (max-width: 992px) {
  .main--sidebar-title {
    margin: 2em 0 2em 0;
    cursor: pointer;
  }
}
.main--sidebar-title > h3 {
  margin: 0 20px 0 0;
}
.main--sidebar-title > i {
  display: none;
}
@media (max-width: 992px) {
  .main--sidebar-title > i {
    display: block;
  }
}

.main--body-titles {
  margin: 5em 0 5em 0;
}
.main--body-titles-h1 {
  font-size: 3vw;
  font-weight: normal;
  margin: 0;
}
@media (max-width: 992px) {
  .main--body-titles-h1 {
    font-size: 8vw;
  }
}
.main--body-titles-h1 > span {
  color: #FF8F00;
}
.main--body-titles-h2 {
  font-weight: bold;
}
.main--body-titles-h2 > span {
  position: relative;
}
.main--body-titles-h2 > span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #FF8F00;
  margin-bottom: -8px;
}
.main--body-titles-h3 {
  border-bottom: 2px solid #FF8F00;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .main--body-titles-h3 {
    width: 80%;
    align-self: center;
    font-size: 3.5vw;
  }
}
.main--body-titles-h3 > i {
  color: #FF8F00;
  margin: 0 10px 0 0;
}
.main--body-titles-h4 {
  font-size: 1.2vw;
}
@media (max-width: 992px) {
  .main--body-titles-h4 {
    font-size: 4vw;
  }
}
.main--body-titles-h5 {
  font-size: 1vw;
  font-weight: normal;
}
@media (max-width: 992px) {
  .main--body-titles-h5 {
    font-size: 3vw;
  }
}

.main--body-exp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .main--body-exp {
    width: 100%;
    align-items: center;
  }
}
.main--body-exp-s {
  display: flex;
}
@media (max-width: 992px) {
  .main--body-exp-s {
    width: 80%;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;
  }
}
.main--body-exp-s-date {
  font-weight: bold;
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992px) {
  .main--body-exp-s-date {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main--body-exp-s-date > p {
  width: 100%;
}
.main--body-exp-s-date > i {
  margin: 0 15px 0 0;
  color: #FF8F00;
}
.main--body-exp-s-title > p {
  width: 80%;
  margin: 1em 0 1em 0;
}
@media (max-width: 992px) {
  .main--body-exp-s-title > p {
    width: 100%;
  }
}

.main--body-recommandations {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.main--body-recommandations-s {
  display: flex;
  justify-content: space-around;
}

.main {
  display: flex;
}
@media (max-width: 992px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
