html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

html {
  font-family: "Lato", "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  font-size: 0.9vw;
  color: #424242;
}
@media all and (max-width: 992px) {
  html {
    font-size: 1.6vh;
  }
}

.main--sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #FF8F00;
  height: 100%;
  position: sticky;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 3em 0 0 0;
}
@media all and (min-width: 993px) {
  .main--sidebar {
    position: sticky;
    bottom: 0;
    top: 0;
    left: 0;
  }
}
@media all and (max-width: 992px) {
  .main--sidebar {
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
.main--sidebar a > img {
  border-radius: 120px;
  border: 5px solid #cc7200;
}

.bloc-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bloc-photo img {
  width: 12vw;
}
@media all and (max-width: 992px) {
  .bloc-photo {
    display: none;
  }
}

.bloc-contact {
  margin-top: 3em;
  width: 100%;
}

.bloc-about {
  width: 100%;
}

.bloc-loisirs {
  width: 100%;
}
.main--body {
  width: 70%;
  margin: 0 150px 0 150px;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 992px) {
  .main--body {
    align-items: center;
    margin: 0;
    width: 100%;
    align-self: center;
  }
}
.main--body-titles {
  width: 100%;
}
@media all and (max-width: 992px) {
  .main--body-titles {
    text-align: center;
  }
}

.main--sidebar-about {
  width: 100%;
  display: flex;
  text-align: justify;
  justify-content: space-around;
  height: auto;
  align-items: start;
  margin: 3em 0 3em 0;
}
@media all and (max-width: 992px) {
  .main--sidebar-about {
    width: 100%;
    height: auto;
    min-height: 100px;
    align-items: center;
  }
}
.main--sidebar-about p {
  width: 60%;
  height: auto;
}

.main--sidebar-contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  margin: 2em 0 2em 0;
}
.main--sidebar-contact-icon {
  margin-right: 20px;
}
@media all and (max-width: 992px) {
  .main--sidebar-contact-icon {
    margin-right: 0;
  }
}
@media all and (max-width: 992px) {
  .main--sidebar-contact {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.main--sidebar-contact div {
  display: flex;
  align-items: center;
  padding-left: 2vw;
}
@media all and (max-width: 992px) {
  .main--sidebar-contact div {
    text-align: center;
    flex-direction: column;
    padding-left: 0;
  }
}
@media all and (max-width: 992px) {
  .main--sidebar-contact-title {
    display: none;
  }
}
.main--sidebar-contact-s {
  margin: 1em 0 1em 0;
}

.main--sidebar-loisirs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3em 0 3em 0;
}

.main--body-formation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media all and (max-width: 992px) {
  .main--body-formation {
    width: 100%;
    align-items: center;
  }
}
.main--body-formation-s {
  display: flex;
}
@media all and (max-width: 992px) {
  .main--body-formation-s {
    width: 80%;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;
  }
}
.main--body-formation-s-date {
  font-weight: bold;
  width: 20%;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
@media all and (max-width: 992px) {
  .main--body-formation-s-date {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main--body-formation-s-date > p {
  width: 100%;
}
.main--body-formation-s-date > i {
  margin: 0 15px 0 0;
  color: #FF8F00;
}
.main--body-formation-s-title {
  width: 80%;
}
.main--body-formation-s-title > p {
  width: 80%;
  margin: 1em 0 1em 0;
}
@media all and (max-width: 992px) {
  .main--body-formation-s-title > p {
    width: 100%;
  }
}

.main--body-formation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media all and (max-width: 992px) {
  .main--body-formation {
    width: 100%;
    align-items: center;
  }
}
.main--body-formation-s {
  display: flex;
}
@media all and (max-width: 992px) {
  .main--body-formation-s {
    width: 80%;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;
  }
}
.main--body-formation-s-date {
  font-weight: bold;
  width: 20%;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
@media all and (max-width: 992px) {
  .main--body-formation-s-date {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main--body-formation-s-date > p {
  width: 100%;
}
.main--body-formation-s-date > i {
  margin: 0 15px 0 0;
  color: #FF8F00;
}
.main--body-formation-s-title {
  width: 80%;
}
.main--body-formation-s-title > p {
  width: 80%;
  margin: 1em 0 1em 0;
}
@media all and (max-width: 992px) {
  .main--body-formation-s-title > p {
    width: 100%;
  }
}

.main--sidebar-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  color: #FF8F00;
  height: auto;
  padding: 1.7vh 0 1.7vh 0;
  font-size: 1.6vh;
}
@media all and (max-width: 992px) {
  .main--sidebar-title {
    cursor: pointer;
  }
}
.main--sidebar-title > h3 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3vw;
}
@media all and (max-width: 992px) {
  .main--sidebar-title > h3 {
    width: 90%;
    font-size: 1.8vh;
  }
}
.main--sidebar-title > i {
  display: none;
}
@media all and (max-width: 992px) {
  .main--sidebar-title > i {
    display: block;
  }
}

.main--body-titles {
  margin: 10vh 0 10vh 0;
}
.main--body-titles-h1 {
  font-size: 3vw;
  font-weight: normal;
  margin: 0;
}
@media all and (max-width: 992px) {
  .main--body-titles-h1 {
    font-size: 4.5vh;
  }
}
.main--body-titles-h1 > span {
  color: #FF8F00;
}
.main--body-titles-subtitle {
  font-weight: bold;
  font-size: 1.3vw;
}
@media all and (max-width: 992px) {
  .main--body-titles-subtitle {
    font-size: 1.8vh;
  }
}
.main--body-titles-subtitle > span {
  position: relative;
}
.main--body-titles-subtitle > span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #FF8F00;
  margin-bottom: -8px;
}
.main--body-titles-h2 {
  border-bottom: 2px solid #FF8F00;
  text-transform: uppercase;
  font-size: 1.3vw;
}
@media all and (max-width: 992px) {
  .main--body-titles-h2 {
    width: 80%;
    align-self: center;
    font-size: 1.8vh;
  }
}
.main--body-titles-h2 > i {
  color: #FF8F00;
  margin: 0 10px 0 0;
}
.main--body-titles-main {
  font-size: 1.1vw;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
@media all and (max-width: 992px) {
  .main--body-titles-main {
    font-size: 1.6vh;
  }
}
.main--body-titles-sub {
  font-size: 0.9vw;
  font-weight: normal;
  font-style: normal;
  margin: 5px 0 5px 0;
}
@media all and (max-width: 992px) {
  .main--body-titles-sub {
    font-size: 1.6vh;
    font-style: italic;
  }
}

.main--body-exp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 992px) {
  .main--body-exp {
    width: 100%;
    align-items: center;
  }
}
.main--body-exp-s {
  display: flex;
}
@media all and (max-width: 992px) {
  .main--body-exp-s {
    width: 80%;
    flex-direction: column;
    margin: 1.5em 0 1.5em 0;
  }
}
.main--body-exp-s-date {
  font-weight: bold;
  width: 20%;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
@media all and (max-width: 992px) {
  .main--body-exp-s-date {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main--body-exp-s-date > p {
  width: 100%;
}
.main--body-exp-s-date > i {
  margin: 0 15px 0 0;
  color: #FF8F00;
}
.main--body-exp-s-title {
  width: 80%;
}
.main--body-exp-s-title > p {
  width: 80%;
  margin: 1em 0 1em 0;
}
@media all and (max-width: 992px) {
  .main--body-exp-s-title > p {
    width: 100%;
  }
}

.main--body-recommandations {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.main--body-recommandations-s {
  display: flex;
  justify-content: space-around;
}

.main {
  display: flex;
  flex-direction: row-reverse;
}
@media all and (max-width: 992px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
.main--body-photo {
  display: none;
}
@media all and (max-width: 992px) {
  .main--body-photo {
    display: block;
  }
  .main--body-photo img {
    border-radius: 250px;
    border: 6px solid #cc7200;
    width: auto;
    height: 25vh;
    margin-top: 30px;
  }
}

#caretDownAbout {
  display: none;
}

#caretDownContact {
  display: none;
}

#caretDownLoisirs {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
