.main--sidebar-about {

  width: 100%;
  display: flex;
  text-align: justify;
  justify-content: space-around;
  height: auto;
  align-items: start;
  margin: 3em 0 3em 0;

  @include sm-display {
    width: 100%;
    height: auto;
    min-height: 100px;
    align-items: center;
  }

  & p {
    width: 60%;
  }

}
