.main--sidebar-contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  &-icon {
    margin-right: 20px;
    @include sm-display {
      margin-right: 0;
    }
  }

  @include sm-display {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1em 0;
  }

  & div {
    display: flex;
    align-items: center;
    padding-left: 50px;
    @include sm-display {
      text-align: center;
      flex-direction: column;
      padding-left: 0;
    }
  }

  &-title {
    @include sm-display {
      display: none;
    }
  }

  &-s {
    margin: 1em 0 1em 0;
  }

}
