.main--sidebar-loisirs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0 2em 0;
  & > i {
    border: 2px solid $primaryColour;
    border-radius: 280px;
    padding: 8px;
  }
}