.main--sidebar {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  background-color: $secondaryColour;
  position: absolute;
  top: 0;
  padding: 40px 0 40px 0;

  @include sm-display {
    height: auto;
    position: relative;
    width: 100%;
  }

  & a > img {
    border-radius: 120px;
    border: 5px solid darken($secondaryColour , 10%);
  }

  & h3 {
    background-color: $primaryColour;
    color: $secondaryColour;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
  }

}
