.main--sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  background-color: $secondaryColour;
  position: relative;
  top: 0;
  bottom: 0;
  padding: 40px 0 0px 0;
  height: auto;

  @include sm-display {
    height: auto;
    position: relative;
    width: 100%;
  }

  & a > img {
    border-radius: 120px;
    border: 5px solid darken($secondaryColour , 10%);
  }
}
