// Couleurs
$primaryColour: #424242;
$secondaryColour: #FF8F00;

// Font-size
$title-md-size: 3vw;
$subtitle-md-size: 1.2vw;
$smalltitle-md-size: 1.1vw;
$text-md-size: 0.8vw;
$title-sm-size: 4.5vh;
$subtitle-sm-size: 1.8vh;
$smalltitle-sm-size: 1.6vh;
$text-sm-size: 1.8vh;

